[submodule "Source/external/SwiftLint"]
	path = Source/external/SwiftLint
	url = https://github.com/realm/SwiftLint.git
[submodule "Source/external/objectbox-swift-generator"]
	path = Source/external/objectbox-swift-generator
	url=https://github.com/objectbox/objectbox-swift-generator.git
