stages:
  - build

build_project:
  stage: build
  tags: [mac, xcode]
  script:
    - cd Example
    - xcodebuild clean build -scheme NotesExample-macOS -destination 'platform=macOS'

variables:
  GIT_SUBMODULE_STRATEGY: recursive
